<section class="standings margin-top">
  <% Object.keys(players).forEach(function(division, index) { %>
    <div class="division">
      <div class="row division-title division-<%- division %> <%- index===0 ? '' : 'margin-top' %>">
        <%- divisions[division] %> Division
      </div>
      <div class="players">
        <% players[division].forEach(function(player) { %>

          <div class="row player">
            <div class="side-column left">
              <%- player.position===null ? 'N/A' : player.position+1 %>
            </div>
            <div class="center-column" onclick="toggleBadges('<%- player._id %>');">
              <%- player.name %>
            </div>
            <div class="side-column right">
              <%- player.score===null ? 'N/A' : player.score===0 ? 'Par' : player.score>0 ? '+'+player.score : player.score %>
            </div>
          </div>

          <% badgeUser = player %>
          <% include ./badges %>

        <% }); %>
      </div>
    </div>
  <% }); %>
</section>
