<% Object.keys(players).forEach(function(division) { %>
  <section class="standings division-<%- division %>">
    <div class="row">
      <%- divisions[division] %> Division
    </div>
    <% players[division].forEach(function(player) { %>
      <div class="row player">
        <div>
          <%- player.position %>
        </div>
        <div class="center-column">
          <%- player.name %>
        </div>
        <div>
          <%- player.score===null ? 'N/A' : player.score===0 ? 'Par' : player.score>0 ? '+'+player.score : player.score %>
        </div>
      </div>
    <% }); %>
  </section>
<% }); %>
